<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hamburguesa Vue</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>

    <div id="app">
        <div class="caja-p">
          <div class="caja-a">
            <h2>Ingredientes</h2>
            <div class="ingredientes-container">
              <span v-for="ingrediente in ingredientes" :key="ingrediente" @click="toggleIngrediente(ingrediente)"
                    :class="{ 'seleccionado': ingredientesSeleccionados.includes(ingrediente) }">{{ ingrediente }}</span>
            </div>
            <button @click="confirmarCocinar">Cocinar</button>
          </div>
          <div class="caja-b">
            <h2>Resultado</h2>
            <template v-if="mostrarResultado">
              <p v-if="esHamburguesa">Hamburguesa lista. ¡Disfruta!</p>
              <p class="mensaje-error" v-else>PREPARA BONITO BOB SPONJA</p>
              <img v-if="esHamburguesa" class="imagen-hamburguesa" src="img/res.jpg" alt="Hamburguesa">
            </template>
          </div>
        </div>
      </div>

   <script src="script.js"></script>
</body>
</html>
